:root {
    --main--color: #02403d;
}

.mybody {
    background-color: var(--main--color);
}

* {
    font-family: 'Gotham';
}

@font-face {
    font-family: 'Gotham';
    src: url("./gotham.ttf");
}

.navbar-custom {
    background-color: var(--main--color)!important;
}

.nav-link {
    color: white!important;
}

.main-content {
    background-image: url("./background.jpg");
    height: 50em;
    background-size: cover;
}

.main-text {
    padding: 5em;
    width: 40em;
}

.mybtn:hover {
    background-color: var(--main-color);
}

.bg {
    background-image: url("./ribbon.png");
}

.second {
    background-color: var(--main--color);
    align-items: center;
    text-align: center;
}

.ribbon {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    height: 30em;
    background-image: url("./ribbon.png");
    background-size: cover;
}

.ribbon-card {
    margin-top: 0;
    margin-right: 5%;
    border-radius: 1em;
    background-color: white;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 1em;
    padding-left: 1em;
    height: 100%;
}

.card-container {
    display: inline-block;
    height: 22.5em;
    width: 20%;
    margin: 2em;
}

.mycolumn {
    color: white;
    vertical-align: middle;
    width: 25%;
    display: inline-block;
    margin-left: 4em;
}
