:root {
    --main--color: #02403d
}

* {
    font-family: 'Gotham';
}

@font-face {
    font-family: 'Gotham';
    src: url("./gotham.ttf");
}

.navbar-custom {
    background-color: var(--main--color)!important;
}

.nav-link {
    color: white!important;
}

.main-content {
    background-image: url("./background.jpg");
    height: 1000px;
    background-size: cover;
}

.main-text {
    padding: 100px;
    width: 800px;
}

.mybtn:hover {
    background-color: var(--main-color);
}

.bg {
    background-image: url("./ribbon.png");
}